<mat-card>
    <mat-card-title>Products</mat-card-title>
    <mat-card-content>
        <mat-form-field class="example-margin">
            <mat-select matInput name="routename" [ngModel]="selectedCategory" (ngModelChange)="onCatChange($event)">
                <mat-option *ngFor="let opt of category" [value]="opt">{{opt}}</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card-content>
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let prod of productList" cdkDrag>
      <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
      {{prod.prod_name}}
    </div>  
  </div>
  <br>
  <button mat-raised-button color="primary"  (click)="onSubmit()">Submit</button>
</mat-card>