<table>
  <thead><tr><td>
    <div class="header-space center-align">
      <p>M K DEEPAN MILK CENTER <br>
      #5/455, Pari Street, <br>
      Mugappair East, Ch - 600037. <br>
      Contact - 9941153153 <br>
      <b>GST NO.</b> 33DFWEFDSALFH23</p>
    </div>
  </td></tr></thead>
  <tbody><tr><td>
    <div class="content">
      <app-invoice *ngIf="formatType=='invoice'" [data]="printdata"></app-invoice>
      <app-report *ngIf="formatType=='report'" [data]="printdata"></app-report>
    </div>
  </td></tr></tbody>
  <tfoot><tr><td>
    <div class="footer-space">Goods once sold cannot be taken back!!</div>
  </td></tr></tfoot>
</table>

<!-- <div class="header">COOL HEADER</div>
<div class="footer">AWESOME FOOTER</div> -->