<div id="sidebar">
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/layout/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/layout/payment/payments']">
            <mat-icon class="sidenav-icon">euro_symbol</mat-icon> {{ 'Payments' | translate }}
        </a> 
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/layout/orders/deliveries']">
            <mat-icon class="sidenav-icon">local_shipping</mat-icon> {{ 'Deliveries' | translate }}
        </a> 
        <div class="nested-menu" *ngIf="userDetail.role=='ADMIN'">
            <a mat-list-item (click)="addExpandClass('reports')" >
                <mat-icon class="sidenav-icon">bar_chart</mat-icon> {{ 'Reports' | translate }}
            </a>
            <ul class="nested submenu" [class.expand]="showMenu === 'reports'">
                <li>
                    <a href="javascript:void(0)" [routerLinkActive]="'active'" [routerLink]="['/layout/reports/recentsales']"><span>{{ 'Recent Sales' | translate }}</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)" [routerLinkActive]="'active'" [routerLink]="['/layout/reports/recentpurchase']"><span>{{ 'Recent Purchase' | translate }}</span></a>
                </li> 
                <li>
                    <a href="javascript:void(0)" [routerLinkActive]="'active'" [routerLink]="['/layout/reports/recentdamages']"><span>{{ 'Recent Damages' | translate }}</span></a>
                </li>                
            </ul>
        </div>        
        <div class="nested-menu">
            <a mat-list-item (click)="addExpandClass('leads')" >
                <mat-icon class="sidenav-icon">input</mat-icon> {{ 'Leads' | translate }}
            </a>
            <ul class="nested submenu" [class.expand]="showMenu === 'leads'">
                <li>
                    <a href="javascript:void(0)" [routerLinkActive]="'active'" [routerLink]="['/layout/leads/customers']"><span>{{ 'Leads' | translate }}</span></a>
                </li>
                <li *ngIf="userDetail.role=='ADMIN'">
                    <a href="javascript:void(0)" [routerLinkActive]="'active'" [routerLink]="['/layout/leads/vendors']"><span>{{ 'Vendors' | translate }}</span></a>
                </li>                
            </ul>
        </div>
        <div class="nested-menu" *ngIf="userDetail.role=='ADMIN'">
            <a mat-list-item (click)="addExpandClass('masters')" >
                <mat-icon class="sidenav-icon">add</mat-icon> {{ 'Masters' | translate }}
            </a>
            <ul class="nested submenu" [class.expand]="showMenu === 'masters'">
                <li>
                    <a href="javascript:void(0)" [routerLinkActive]="'active'" [routerLink]="['/layout/masters/customers']"><span>{{ 'Customers' | translate }}</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)" [routerLinkActive]="'active'" [routerLink]="['/layout/masters/vendors']"><span>{{ 'Vendors' | translate }}</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)" [routerLinkActive]="'active'" [routerLink]="['/layout/masters/users']"><span>{{ 'Users' | translate }}</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)" [routerLinkActive]="'active'" [routerLink]="['/layout/masters/routes']"><span>{{ 'Routes' | translate }}</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)" [routerLinkActive]="'active'" [routerLink]="['/layout/masters/rates']"><span>{{ 'Rates' | translate }}</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)" [routerLinkActive]="'active'" [routerLink]="['/layout/masters/products']"><span>{{ 'Products' | translate }}</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)" [routerLinkActive]="'active'" [routerLink]="['/layout/masters/mapping']"><span>{{ 'Customer Mapping' | translate }}</span></a>
                </li>
            </ul>
        </div>
        <div class="nested-menu">
            <a mat-list-item (click)="addExpandClass('transactions')">
                <mat-icon class="sidenav-icon">add_shopping_cart</mat-icon> {{ 'Transactions' | translate }}
            </a>
            <ul class="nested submenu" [class.expand]="showMenu === 'transactions'">
                <li>
                    <a href="javascript:void(0)" [routerLinkActive]="'active'" [routerLink]="['/layout/transactions/sales']"><span>{{ 'Sales' | translate }}</span></a>
                </li>
                <li *ngIf="userDetail.role=='ADMIN' || userDetail.role=='SUPERADMIN'">
                    <a href="javascript:void(0)" [routerLinkActive]="'active'" [routerLink]="['/layout/transactions/purchase']"><span>{{ 'Purchase' | translate }}</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)" [routerLinkActive]="'active'" [routerLink]="['/layout/transactions/expenses']"><span>{{ 'Expenses' | translate }}</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)" [routerLinkActive]="'active'" [routerLink]="['/layout/transactions/damages']"><span>{{ 'Return / Spoil' | translate }}</span></a>
                </li>
                <li *ngIf="userDetail.role=='ADMIN' || userDetail.role=='SUPERADMIN'">
                    <a href="javascript:void(0)" [routerLinkActive]="'active'" [routerLink]="['/layout/transactions/openingbalance']"><span>{{ 'Opening Balance' | translate }}</span></a>
                </li>
            </ul>
        </div>
        <div class="nested-menu" *ngIf="userDetail.role=='ADMIN' || userDetail.role=='SUPERADMIN'">
            <a mat-list-item (click)="addExpandClass('personalize')">
                <mat-icon class="sidenav-icon">build</mat-icon> {{ 'Personalize' | translate }}
            </a>
            <ul class="nested submenu" [class.expand]="showMenu === 'personalize'">
                <li>
                    <a href="javascript:void(0)" [routerLinkActive]="'active'" [routerLink]="['/layout/personalize/customers']"><span>{{ 'Customer' | translate }}</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)" [routerLinkActive]="'active'" [routerLink]="['/layout/personalize/products']"><span>{{ 'Products' | translate }}</span></a>
                </li>                
            </ul>
        </div>
        <div class="nested-menu" *ngIf="userDetail.role=='ADMIN'">
            <a mat-list-item (click)="addExpandClass('discounts')">
                <mat-icon class="sidenav-icon">local_offer</mat-icon> {{ 'Discounts' | translate }}
            </a>
            <ul class="nested submenu" [class.expand]="showMenu === 'discounts'">
                <li>
                    <a href="javascript:void(0)" [routerLinkActive]="'active'" [routerLink]="['/layout/discounts/category']"><span>{{ 'Category' | translate }}</span></a>
                </li>
                <!-- <li>
                    <a href="javascript:void(0)" [routerLinkActive]="'active'" [routerLink]="['/layout/discounts/mapping']"><span>{{ 'Mapping' | translate }}</span></a>
                </li>      -->
                <li>
                    <a href="javascript:void(0)" [routerLinkActive]="'active'" [routerLink]="['/layout/discounts/transactions']"><span>{{ 'Transactions' | translate }}</span></a>
                </li>                
            </ul>
        </div>
        <a *ngIf="userDetail.role=='ADMIN'" mat-list-item [routerLinkActive]="'active'" [routerLink]="['/layout/charts']">
            <mat-icon class="sidenav-icon">today</mat-icon> {{ 'Remainders' | translate }}
        </a>   
        <a *ngIf="userDetail.role=='ADMIN'" mat-list-item [routerLinkActive]="'active'" [routerLink]="['/layout/charts']">
            <mat-icon class="sidenav-icon">message</mat-icon> {{ 'SMS Alert' | translate }}
        </a>   
    </mat-nav-list>
</div>
