.input-prod {
    width: 50px;
}

.example-h2 {
    margin: 10px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 0 0 0 0.5em;
}

.mat-slider-horizontal {
    width: 300px;
}

.mat-slider-vertical {
    height: 300px;
}

.mat-card {
    margin: 10px;
    width: auto;
    display: inline-block;
}

.flex-display {
    display: inline-flex;
}

.mat-raised-button {
    margin-right: 0.2em;
}

.mat-dialog-actions{
    bottom:  1em;
    // position: absolute;
}

.title-prodtable {
    background-color: #3f51b5;
    border-radius: 0.2em;
    padding: 0.5em;
    color: #fff;
    // display: block;
}

.modal-header {
    height: 4.1em;
    font-size: small;
}

.date-col {
    width: 7.0em;
    float: right;
}

.reduce-margin{
    margin-top: -13px;
}

.input-bg-color {
    background-color: lightpink;
}

.action-button {
    button {
        padding: 0 0.6em;
        font-size: 0.7em;
        line-height: 2.9em;;
    }
}