<div class="mb-20 flex-display" fxFlex fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="2px">
  <!-- <div fxFlex="50" class="flex-display">  -->
    <div class="font-smaller">
      <label>Customer: <b><i>{{customer.customerName}}</i></b></label>
      <mat-form-field class="example-margin date-col">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="delDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">           
    <mat-tab-group class="reduce-margin">
    <div *ngFor="let cat of strucProductList | keyvalue">        
          <mat-tab label="{{cat.key}}">
            <div *ngFor="let sub of strucProductList[cat.key] | keyvalue">
            <mat-card class="mat-card" *ngFor="let brands of strucProductList[cat.key][sub.key] | keyvalue">
              <mat-card-header>
                  <mat-card-title>{{brands.key}} {{sub.key}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <section class="example-section">
                  <mat-form-field *ngFor="let prod of strucProductList[cat.key][sub.key][brands.key] | keyvalue" class="input-prod example-margin">
                      <input matInput [ngClass]="prod.value.class" [formControlName]="prod.value.alias" [placeholder]="prod.value.alias" aria-label="prod.alias" type="number" size="10"/>                  
                  </mat-form-field>              
                </section>
              </mat-card-content>
            </mat-card>
            </div>
        </mat-tab>        
    </div>
    </mat-tab-group>    
    <div mat-dialog-actions class="mat-dialog-actions">
      <button mat-raised-button color ="primary" type="submit">Submit</button>
      <button mat-raised-button color ="accent" type="button">Repeat Order</button>
      <button mat-raised-button type="button" (click)="onNoClick()">Cancel</button>
    </div>
    </form>
  <!-- </div> -->
</div>