
.mat-form-field {
    font-size: 14px;
    width: 100%;
}


.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    // height: 60px;
}

.example-margin {
    margin: 10px;
}

.example-button-row {
    margin-top: 0.4em;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

.print-right{
  float : right;
  cursor : pointer;
}

.highlight-text {
  padding-left: 4px;
  color: #3f51b5;
  font-size: medium;
  text-shadow: 1px 1px #fff;
  font-weight: bold;
}

.cus-title{
  font-size: 0.6em;
  color: grey;
  ::before{
  content: "\a";
  white-space: pre;  
  }
}