<form >
<!-- <mat-card>
    <mat-card-content>
        <mat-chip-list aria-label="Orders">         
          <mat-chip color="accent" *ngFor="let list of consolidatedList">{{list.alias}}:{{list.count}}</mat-chip>
        </mat-chip-list>
    </mat-card-content>
</mat-card> -->
<mat-card>
  <mat-card-title>
    Deliveries
    <mat-icon title="Print" (click)="callPrintModal()" class="print-right">print</mat-icon>
    <mat-icon title="Consolidated view" (click)="showConsolidated()" class="print-right">assessment</mat-icon>
  </mat-card-title>
  <mat-card-content>
    <!-- <button type="button" mat-icon-button class="visible-md" (click)="enableSearch=!enableSearch">
      <mat-icon aria-label="Side nav toggle icon">search</mat-icon>
    </button>-->
    <section class="example-section" [ngClass]="{'toggle':enableSearch}" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
        <span class="no-margin"><mat-icon (click)="enableSearch = !enableSearch">search</mat-icon></span>
        <mat-form-field fxFlex class="">
            <input matInput name="searKey" [(ngModel)]="searKey" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            <button mat-icon-button matSuffix (click)="clear()">
              <mat-icon>{{searKey?'clear':''}}</mat-icon>
              </button>
        </mat-form-field>
        <mat-form-field fxFlex class="">
            <mat-select name="selRoute" [(ngModel)]="selRoute" (selectionChange)="addEvent()" placeholder="Route" >
                <mat-option *ngFor="let r of routes" [value]="r.key">{{r.value}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex class="">
          <input matInput disabled [max]="maxToDate" [matDatepicker]="picker" placeholder="Choose a date" name="delDate" (dateInput)="addEvent()" [(ngModel)]="delDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker disabled="false" #picker></mat-datepicker>
        </mat-form-field>
    </section> 
    <!-- <mat-accordion class="example-headers-align" fxLayout="column">
      <mat-expansion-panel class="search-panel" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Search
          </mat-panel-title>
          <mat-panel-description>
            <span>&nbsp;</span>
            <mat-icon>find_in_page</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
          <mat-form-field fxFlex class="">
              <input matInput name="searKey" [(ngModel)]="searKey" (keyup)="addEvent()" placeholder="Filter">
              <button mat-icon-button matSuffix (click)="clear()">
                <mat-icon>{{searKey?'clear':''}}</mat-icon>
              </button>
          </mat-form-field>
          <mat-form-field fxFlex class="">
              <mat-select name="selRoute" [(ngModel)]="selRoute" (selectionChange)="addEvent()" placeholder="Route" >
                  <mat-option *ngFor="let r of routes" [value]="r.key">{{r.value}}</mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex class="">
            <input matInput disabled [max]="maxToDate" [matDatepicker]="picker" placeholder="Choose a date" name="delDate" (dateInput)="addEvent()" [(ngModel)]="delDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker disabled="false" #picker></mat-datepicker>
          </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion> -->
    <mat-accordion class="example-headers-align" fxLayout="column">
      <ng-container *ngFor="let row of deliveryList;let i = index">
        <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)" >            
          <mat-expansion-panel-header>
            <mat-panel-title >
              {{row._id.customer.customerName}}
              <span class="cus-title">-{{row._id.customer.routes[0].areaName}}</span>
            </mat-panel-title>
            <mat-panel-description>
              <span>&nbsp;</span>
              <span *ngIf="row._id.orders">Order Received</span>
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-chip-list *ngIf="row._id.orders">
              <mat-chip *ngFor="let order of row.details">{{order.products.prod_name}}: <span class="highlight-text">{{order.prod_quan}}</span> </mat-chip>                                           
          </mat-chip-list>   
          <div class="example-button-row">        
            <button mat-stroked-button color="warn" (click)="editOrder(row)">Edit</button>      
          </div> 
          <mat-action-row>
            <button mat-button color="warn" *ngIf="i!=0" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" *ngIf="i != deliveryList.length - 1" (click)="nextStep()">Next</button>
          </mat-action-row> 
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
    <br>
    <button mat-raised-button color="primary" [disabled]="!enablePlaceOrder()" (click)="placeOrder()">Place Order</button>
  </mat-card-content>
</mat-card>
</form>