<mat-card>
  <mat-card-header>
      <mat-card-title>Rates</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <section class="example-section">
          <mat-form-field class="example-margin">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
          <mat-form-field class="example-margin">
              <mat-select placeholder="Route" >
                  <mat-option value="1">Option 1</mat-option>
                  <mat-option value="2">Option 2</mat-option>
                  <mat-option value="3">Option 3</mat-option>
              </mat-select>
          </mat-form-field>
      </section>
  </mat-card-content>

  <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

      <!-- Color Column -->
    <ng-container matColumnDef="prod_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="prod"> Product Name </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.product.prod_name"> {{row.product.prod_name}} </td>
    </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="Retail">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Retail </th>
          <td mat-cell *matCellDef="let row"> {{row.product.rate_active["Retail"]?row.product.rate_active["Retail"].price +" - "+ row.product.rate_active["Retail"].tax:"-"}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Purchase">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Purchase </th>
            <td mat-cell *matCellDef="let row"> {{row.product.rate_active["Purchase"]?row.product.rate_active["Purchase"].price+" - "+row.product.rate_active["Purchase"].tax:"-"}}</td>
        </ng-container>

        <!-- Name Column -->
      <ng-container matColumnDef="Wholesale">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Wholesale </th>
            <td mat-cell *matCellDef="let row"> {{row.product.rate_active["Wholesale"]?row.product.rate_active["Wholesale"].price+" - "+row.product.rate_active["Wholesale"].tax:"-"}}</td>
        </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Silver">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Silver </th>
          <td mat-cell *matCellDef="let row"> {{row.product.rate_active["Silver"]?row.product.rate_active["Silver"].price+" - "+row.product.rate_active["Silver"].tax:"-"}}</td>
      </ng-container>

       <!-- Name Column -->
        <ng-container matColumnDef="Gold">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gold </th>
            <td mat-cell *matCellDef="let row"> {{row.product.rate_active["Gold"]?row.product.rate_active["Gold"].price+" - "+row.product.rate_active["Gold"].tax:"-"}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Diamond">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Diamond </th>
            <td mat-cell *matCellDef="let row"> {{row.product.rate_active["Diamond"]?row.product.rate_active["Diamond"].price+" - "+row.product.rate_active["Diamond"].tax:"-"}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let row">
                    <span (click)="_editRate(row)"><i class="material-icons">
                    edit
                    </i></span>
            </td>
        </ng-container>
      

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  <div class="clearpix"> 
    <button mat-raised-button color ="primary" (click)="openDialog()">Add New</button>
  </div>
</mat-card>