table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 10px;
}

.print{
    cursor: pointer;
}

.display-inline{
    display: inline-flex;
}

.pull-right{
    display:block;
    text-align: right;
    button{
        margin-left: 0.23em;
    }
}

.span-text {
    font-style: italic;
    color: grey;
    font-size: smaller;
}

.margin-left {
    width: 50%;
    margin-left: 50%;
}