.dotted{
    border: dotted 0.02em grey;
    text-align: center;
}
table{
    border-collapse:collapse;/*This property collapses borders together*/
}

.wid-name{
    width: 150px;
}

.wid-product{
    width: 30px;
    font-size: x-small;
    font-weight: lighter;
}

.wid-currency{
    width: 60px;
}