<div >
  <mat-card >
    <mat-card-header>
        <mat-card-title>Payments</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <section class="example-section" [ngClass]="{'toggle':enableSearch}" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
        <span class="no-margin"><mat-icon (click)="enableSearch = !enableSearch">search</mat-icon></span>
        <mat-form-field fxFlex class="">
            <input matInput name="searKey" [(ngModel)]="searKey" (keyup)="filterOpts()" placeholder="Filter">
            <button mat-icon-button matSuffix (click)="clear()">
              <mat-icon>{{searKey?'clear':''}}</mat-icon>
              </button>
        </mat-form-field>
        <mat-form-field fxFlex class="">
            <mat-select name="selRoute" [(ngModel)]="selRoute" (selectionChange)="filterOpts()" placeholder="Route" >
                <mat-option *ngFor="let r of routes" [value]="r.key">{{r.value}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex class="">
          <mat-select name="selRoute" [(ngModel)]="selUser" (selectionChange)="filterOpts()" placeholder="User" >
              <mat-option *ngFor="let r of usersList" [value]="r.key">{{r.value}}</mat-option>
          </mat-select>
      </mat-form-field>
        <mat-form-field fxFlex class="">
          <input matInput disabled [max]="maxToDate" [matDatepicker]="picker" placeholder="Choose a date" name="delDate" (dateInput)="loadPayments()" [(ngModel)]="delDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker disabled="false" #picker></mat-datepicker>
        </mat-form-field>
      </section> 
        <!-- <section class="example-section">
            <mat-form-field class="example-margin">
                <input matInput name="searKey" [(ngModel)]="searKey" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                <button mat-icon-button matSuffix (click)="clear()">
                  <mat-icon>{{searKey?'clear':''}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field fxFlex class="">
              <input matInput disabled [max]="maxToDate" [matDatepicker]="picker" placeholder="Choose a date" name="pDate" (dateInput)="loadPayments()" [(ngModel)]="pDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker disabled="false" #picker></mat-datepicker>
            </mat-form-field>
        </section> -->
    </mat-card-content>
    
    <div class="mat-elevation-z8" flex="50">
        <table mat-table [dataSource]="dataSource" matSort>
    
            <!-- <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Area Name </th>
                <td mat-cell *matCellDef="let row" [style.color]="row.areaName"> {{row.areaName}} </td>
            </ng-container> -->
            <ng-container matColumnDef="customer">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer </th>
              <td mat-cell *matCellDef="let row"> {{row.customer[0].customerName}} </td>
              <td mat-footer-cell *matFooterCellDef>  </td>
            </ng-container>
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                <td mat-cell *matCellDef="let row"> {{row.payment_type}} </td>
                <td mat-footer-cell *matFooterCellDef> Total </td>
            </ng-container>
            <!-- <ng-container matColumnDef="date" *ngIf="dedicatedCustomer">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
              <td mat-cell *matCellDef="let row"> {{row.localdate}} </td>
            </ng-container> -->            
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
                <td mat-cell *matCellDef="let row; let i = index" > 
                  <!-- <span *ngIf="!row.isEdit" >{{row.amount | currency:'INR'}}</span>
                  <input *ngIf="row.isEdit" matInput size="10" class="ip-size" type="number"/>  -->
                  <editable (update)="updateField(i,'amount')">
                    <ng-template viewMode>
                      {{row.amount | currency:'INR'}}
                    </ng-template>
                    <ng-template editMode>
                      <mat-form-field class="example-full-width">
                        <input matInput type="number" [formControl]="getControl(i, 'amount')" />
                        <!-- <mat-error *ngIf="getControl(row, 'amount').hasError('required')">
                          Field is <strong>required</strong>
                        </mat-error> -->
                      </mat-form-field>
                      <p>{{row.amount}}</p>
                      <!-- <input [formControl]="getControl(i, 'amount')" /> -->
                    </ng-template>
                  </editable>
                </td>
                <td mat-footer-cell *matFooterCellDef> {{getTotalCost()|currency:'INR'}} </td>
            </ng-container>
            <ng-container matColumnDef="createdBy">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
              <td mat-cell *matCellDef="let row"> {{row.createdUser[0].username}} </td>
              <td mat-footer-cell *matFooterCellDef>  </td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
              <td mat-cell *matCellDef="let row" > <p class="display-inline">
                <!-- <mat-icon class="print" (click)="editEntry(row)">edit</mat-icon> -->
                <mat-icon class="print" (click)="editPayment(row)">delete_forever</mat-icon>                
                </p> </td>
              <td mat-footer-cell *matFooterCellDef>  </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
    
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</mat-card>
</div>