table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 80px;
}

.example-margin {
    margin: 15px;
}

.clearpix {
    margin-top: 10px;
}

.mat-card{
    width:90%;
}

.mat-cell{
    text-align: left;
}