<form (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>{{title}}</h1>
  <div mat-dialog-content>
  <mat-card>
    <!-- <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header> -->
    <mat-card-content class="common-modal">  
      
      <div class="rate-form">
       
       <div class="rate-form-select">
          <div *ngFor="let form of form_value.formData" >
               <select class="cs-select-box" (change)="onDropDownSelect(form.options,$event.target.value)" placeholder="form.placeholder">
                  <option class="hide" value="" disabled selected>Select Product</option>
                  <option *ngFor="let opt of form.options; let idx = index" [value]="idx">{{opt.value}}</option>
              </select>
            </div>   
       </div>
       <div class="rate-form-list">
          <ng-container *ngIf="fieldList.rates.length">
            <div *ngFor="let data of fieldList.rates" class="single-row">
              <div class="lable-name">
                <label>{{data.prod_name}}</label>
              </div>
              <div class="input-fields">
                <div class="single-rate" *ngFor="let cRate of data.rate" >

                  <input (ngModel) = "cRate.price" type="'text'"  placeholder="{{cRate.priceText}}">
                  
                  <input (ngModel) = "cRate.tax" type="'text'" placeholder="{{cRate.taxText}}">
                 
                </div>
              </div>
              </div>
            </ng-container>
       </div>
  
      </div>
      
    </mat-card-content>
  </mat-card>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" cdkFocusInitial type="submit">Submit</button>
  </div>
  </form>